body {
  color: white;
  font-family: avenir;
}

.container {
  background-color: darkblue;
  width: 600px;
  height: 400px;
  padding: 30px;
}

#pari {
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
}
